* {
    font-family: Verdana;
}

html, body {
    background-color: #323232;
}

.align-center {
    text-align: center;
}

.pessoa-coluna-acoes {
    width: 80px;
}

.pessoa-coluna-idade {
    width: 90px;
}

.pessoa-coluna-nascimento {
    width: 130px;
}

.tabela-exportacoes {
    float: right;
    padding-top: 2px;
}

.tabela-exportacoes a {
    margin-right: 5px;
}

.ui-filter-column .ui-column-customfilter .custom-filter {
    width: 100%;
    box-sizing: border-box;
}

.year-spinner input {
    width: 100%;
    box-sizing: border-box;
}


.ui-menuitem-icon {
    text-align: center;
    margin-right: 10px;
}

.logo {
    text-align: center;
    font-weight: revert;
    color: whitesmoke;
}

.subtitulo {
    font-size: 20px;
    font-weight: revert;
    color: whitesmoke;
}

.endereco input, .campos input {
    width: 100%;
}

#camposAutopsia {
    color: yellow;
}

.bandeira-idioma {
    width: 30px;
    margin-right: 10px;
}

.ui-menu.ui-menubar > .ui-menu-list > .ui-menuitem.ui-menubar-options {
    display: flex;
}